/** basic classes for ui elements */
p
{
  font-family: courier, monospace;
  font-size: 12px;
  font-weight: bold;
  margin-block-end: unset !important;
}

.container-styles
{
  top: 12.5% !important;
  left: 23%;
  position: absolute;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-start;
  overflow: visible;
  height: 53%;
}

.grid-styles
{
  width: 39% !important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.2em;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(153,153,153);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  &:hover {
    background: gray;
  }
}

.shell
{
  user-select: none;
  color: #0f0
}

.path
{
  user-select: none;
  color: royalblue;
}

.MuiInputBase-input
{
  padding: 1px 0 !important;
  user-select: none
}

.typography-styles
{
  float: left;
}

.input-styles
{
  font-family: courier, monospace !important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: white !important;
  min-width: 90%;
}

.padding-left
{
  padding-left: 0.5em !important;
}

.list-styles
{
  padding-left: 1em;
}

.list-styles2
{
  padding-left: 1.75rem;
}

.color-yellow
{
  color: yellow;
}

.color-pink
{
  color: #ff0096;
}

.color-white
{
  color: white;
}

.color-blue
{
  color: mediumblue;
}

.color-primary
{
  color: #f4ff00;
}

/** mixins & mixin logic */

@mixin mui-input-styles {
  border-bottom: none !important;
  transform: none !important;
  transition: none !important;
}

@mixin animation-styles {
  color: white;
  display: inline-flex;
  animation: type 1s steps(200, end);
  animation-fill-mode: backwards;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@mixin animation-delays($num) {
  @if $num != 0 {
    animation-delay: $num+1.5s;
  } @else {
    animation-delay: 0.5s;
  }
}

.MuiInput-underline
{
  float: left;
  &:before {
    @include mui-input-styles;
  }
  &:after {
    @include mui-input-styles;
  }
}

@for $i from 0 through 30 {
  .animate#{$i} {
    @include animation-styles;
    @include animation-delays($i);
  }
}

@keyframes type{
  from {
    color: rgb(153,153,153);
    width: 0;
  }
}

$start-width: 4000;
$end-width: 1200;
$tablet-view: 800;
$base-margin: 18em;

@media (min-width: 0px) and (max-width: #{$tablet-view}px) {
  .post-it-styles {
    min-width: 150px;
    max-width: 150px;
    width: 100%;
    height: 80px;
  }

  .post-text-styles {
    font-size: 14px;
  }

  .post-text-styles2 {
    font-size: 6px;
  }

  .post-text-styles3 {
    font-size: 6px;
  }

  .post-it-styles-commands {
    min-width: 150px;
    max-width: 150px;
    width: 100%;
    height: 80px;
  }
}
@media (min-width: #{$tablet-view}px) and (max-width: #{$end-width}px) {
  .post-it-styles {
    min-width: 175px;
    max-width: 175px;
    width: 100%;
    height: 100px;
  }

  .post-text-styles {
    font-size: 18px;
  }

  .post-text-styles2 {
    font-size: 8px;
  }

  .post-text-styles3 {
    font-size: 8px;
  }

  .post-it-styles-commands {
    min-width: 175px;
    max-width: 175px;
    width: 100%;
    height: 100px;
  }
}
@media (min-width: 0px) and (max-width: #{$tablet-view}px) {
  .container-styles {
    top: 12.5%;
    left: 23%;
  }

  [class^="animate"] {
    line-height: 1 !important;
    font-size: 7px !important;
  }

  .shell {
    line-height: 1 !important;
    font-size: 7px !important;
  }

  .path {
    line-height: 1 !important;
    font-size: 7px !important;
  }

  div[class="input-styles"] p > span:last-child {
    line-height: 1 !important;
    font-size: 7px !important;
  }

  .color-blue > span {
    display: none !important;
  }
}

// media queries from 0 to 800, will keep decreasing until 0, kinda like limits in math :D, but we are missing
// a variable that gradually reduces to 0
$j: 1;
$differenceOffset: 0.05em;
$widthOffset: .5%;
$footerOffset: .05%;
@for $i from 0 through (calc($tablet-view / 1)) {
  $breakpoint: $tablet-view - ($i * 1);
  $margin: 10em;

  @media (min-width: #{$breakpoint}px) and (max-width: #{$breakpoint + 1}px) {
    .container-styles {
      top: 11.5% !important;
      left: 22%;
      padding-right: #{if($margin - $differenceOffset > 3em, $margin - $differenceOffset, 3em)} !important;;
    }
    .grid-styles {
      width: #{if(65% - $widthOffset > 55%, 65% - $widthOffset, 55%)} !important;
    }
    .footer {
      bottom: #{if(50% + $footerOffset < 54%, 50% + $footerOffset, 54%)} !important;
    }
    .footer > p {
      font-size: 8px !important;
    }
  }
  $j: $j + 0.5 !global;
  $differenceOffset: $differenceOffset + 0.025em !global;
  $widthOffset: $widthOffset + .035% !global;
  $footerOffset: $footerOffset + 0.0125% !global;
}

// media queries from 1200 to 800
$upper_cutoff: 1200;
$lower_cutoff: 800;
$base-margin-1200-800: 18em;
$widthOffsetTablet: .5%;
$topOffsetBeta: 1;

@for $i from 0 through (calc(($upper_cutoff - $lower_cutoff) / 50)) {
  $breakpoint: $upper_cutoff - ($i * 50);
  $margin: $base-margin-1200-800 - ($i * 1em);

  // similar to limit with $topOffsetBeta getting closer to 0.1 every iteration
  $topOffset: 11.5% + ($i * $topOffsetBeta) * 1%;
  @if $topOffset < 12% {
    $topOffset: 12%;
  }
  @if $breakpoint + 50 == 1200 { // this is terrible, don't do this, this is a one time hack ;D
    $topOffset: 11.5%;
  }
  @media (min-width: #{$breakpoint + 1}px) and (max-width: #{$breakpoint + 50}px) {
    @if calc($breakpoint + 50) >= $lower_cutoff {
      .container-styles {
        top: $topOffset !important; // we cap max top offset @ 12%, we don't want a bigger gap than that
        left: 23%;
        padding-right: $margin !important;
      }
      .grid-styles {
        width: #{if(68% - $widthOffsetTablet > 63%, 68% - $widthOffsetTablet, 63%)} !important;;
      }
    }
  }
  $widthOffsetTablet: $widthOffsetTablet + .55% !global;
  $topOffsetBeta: if( $topOffsetBeta - 0.25 > 0.1, $topOffsetBeta - 0.25, 0.1) !global;
}

// media queries from 1200 -> Infinity
$topOffsetBeta2: 0.01;
@for $i from 0 through (calc(($start-width - $end-width) / 50)) {
  $breakpoint: $start-width - ($i * 50);
  $margin: $base-margin + ($i * .01em);

  @if $breakpoint + 50 == 1250 {
    $topOffsetBeta2: 0.02
  }

  $topOffset: 9% + ($i * $topOffsetBeta2) * 1%;

  @if $topOffset > 10.5% {
    $topOffset: 10.5%;
  }
  @media (min-width: #{$breakpoint}px) and (max-width: #{$breakpoint + 50}px) {
    @if calc($breakpoint + 50) >= $upper_cutoff {
      .container-styles {
        top: $topOffset !important;
        left: 23%;
        padding-right: $margin !important;
      }
      .grid-styles {
        width: 68% !important;
      }
    }
  }
}