/** basic classes for ui elements */
p
{
  font-family: courier, monospace;
  font-size: 12px;
  font-weight: bold;
  margin-block-end: unset !important;
}

.container-styles
{
  position: absolute;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-start;
  overflow: visible;
  height: 53%;
}

.grid-styles
{
  width: 39% !important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.2em;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(153,153,153);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  &:hover {
    background: gray;
  }
}

.shell
{
  user-select: none;
  color: #0f0
}

.path
{
  user-select: none;
  color: royalblue;
}

.MuiInputBase-input
{
  padding: 1px 0 !important;
  user-select: none
}

.typography-styles
{
  float: left;
}

.input-styles
{
  font-family: courier, monospace !important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: white !important;
  min-width: 90%;
}

.padding-left
{
  padding-left: 0.5em !important;
}

.list-styles
{
  padding-left: 1em;
}

.list-styles2
{
  padding-left: 1.75rem;
}

.color-yellow
{
  color: yellow;
}

.color-pink
{
  color: #ff0096;
}

.color-white
{
  color: white;
}

.color-blue
{
  color: mediumblue;
}

.color-primary
{
  color: #f4ff00;
}

/** mixins & mixin logic */

@mixin mui-input-styles {
  border-bottom: none !important;
  transform: none !important;
  transition: none !important;
}

@mixin animation-styles {
  color: white;
  display: inline-flex;
  animation: type 1s steps(200, end);
  animation-fill-mode: backwards;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@mixin animation-delays($num) {
  @if $num != 0 {
    animation-delay: $num+1.5s;
  } @else {
    animation-delay: 0.5s;
  }
}

.MuiInput-underline
{
  float: left;
  &:before {
    @include mui-input-styles;
  }
  &:after {
    @include mui-input-styles;
  }
}

@for $i from 0 through 30 {
  .animate#{$i} {
    @include animation-styles;
    @include animation-delays($i);
  }
}

@keyframes type{
  from {
    color: rgb(153,153,153);
    width: 0;
  }
}

//@media (min-width: 1920px) {
//  .container-styles {
//    top: 9.5%;
//    left: 23.4%;
//  }
//  .grid-styles {
//    width: 68% !important;
//  }
//  .filler {
//    display: none;
//    width: 0;
//    flex-grow: 0;
//  }
//}
//
//@media (min-width: 1600px) and (max-width: 1920px) {
//  .container-styles {
//    top: 9.5%;
//    left: 23.4%;
//  }
//  .grid-styles {
//    width: 68% !important;
//  }
//  .filler {
//    display: none;
//    width: 0;
//    flex-grow: 0;
//  }
//}
//
//@media (min-width: 1205px) and (max-width: 1600px) {
//  .container-styles {
//    top: 9.5%;
//    left: 23.4%;
//  }
//  .grid-styles {
//    width: 68% !important;
//  }
//  .filler {
//    display: none;
//    width: 0;
//    flex-grow: 0;
//  }
//}
//
//@media (min-width: 1170px) and (max-width: 1205px) {
//  .container-styles {
//    top: 12.5%;
//    left: 23%;
//  }
//  .grid-styles {
//    width: 68% !important;
//  }
//  .filler {
//    display: none;
//    width: 0;
//    flex-grow: 0;
//  }
//}
//
//@media (min-width: 1120px) and (max-width: 1170px) {
//  .container-styles {
//    top: 12%;
//    left: 23%;
//    margin-left: -10em;
//  }
//  .grid-styles {
//    width: 100% !important;
//  }
//  .filler {
//    width: 5em;
//  }
//}
//
//@media (min-width: 800px) and (max-width: 1120px) {
//  .container-styles {
//    top: 12%;
//    left: 23%;
//    margin-left: -10em;
//  }
//  .grid-styles {
//    width: 100% !important;
//  }
//  .filler {
//    width: 5em;
//  }
//}
//
//@media (max-width: 800px) {
//  .container-styles {
//    top: 12.5%;
//    left: 23%;
//  }
//  .grid-styles {
//    width: 100% !important;
//  }
//}

$start-width: 2000;
$end-width: 800;
$base-margin: 18em;
$j: 1;

// below is similar to limit in math, the we get to width 0, the bigger the padding must be
@for $i from 0 through (calc((800 - 100) / 1)) {
  $breakpoint: 800 - ($i * 1);
  $margin: 10 + ($i * .01em);
  @media (min-width: #{$breakpoint}px) and (max-width: #{$breakpoint + 1}px) {
    .container-styles {
      top: 12.5%;
      left: 23%;
      padding-right: #{if($margin - ($j * 0.05em) > 0, $margin - ($j * 0.1em), 0)} !important;
    }
    .grid-styles {
      width: 55% !important;
    }
  }
  $j: $j + 0.5 !global;
}

@for $i from 0 through (calc(($start-width - $end-width) / 100)) {
  $breakpoint: $start-width - ($i * 100);
  $margin: $base-margin + ($i * .01em);

  @media (min-width: #{$breakpoint}px) and (max-width: #{$breakpoint + 100}px) {
    @if calc($breakpoint + 100) < 830 {
      .container-styles {
        top: 12.5%;
        left: 23%;
        padding-right: #{$margin - 8em} !important;
      }
      .grid-styles {
        width: 48% !important;
      }
    } @else if calc($breakpoint + 100) < 840 {
      .container-styles {
        top: 12.5%;
        left: 23%;
        padding-right: #{$margin - 15em} !important;
      }
      .grid-styles {
        width: 68% !important;
      }
    } @else if calc($breakpoint + 100) < 850 {
      .container-styles {
        top: 12.5%;
        left: 23%;
        padding-right: #{$margin - 13em} !important;
      }
      .grid-styles {
        width: 68% !important;
      }
    } @else if calc($breakpoint + 100) < 900 {
      .container-styles {
        top: 12.5%;
        left: 23%;
        padding-right: #{$margin - 11em} !important;
      }
      .grid-styles {
        width: 68% !important;
      }
    } @else if calc($breakpoint + 100) < 950 {
      .container-styles {
        top: 12.5%;
        left: 23%;
        padding-right: #{$margin - 9em} !important;
      }
      .grid-styles {
        width: 68% !important;
      }
    } @else if calc($breakpoint + 100) < 1025 {
      .container-styles {
        top: 12.5%;
        left: 23%;
        padding-right: #{$margin - 7em} !important;
      }
      .grid-styles {
        width: 68% !important;
      }
    } @else if calc($breakpoint + 100) < 1150 {
      .container-styles {
        top: 12.5%;
        left: 23%;
        padding-right: #{$margin - 5em} !important;
      }
      .grid-styles {
        width: 68% !important;
      }
    } @else if calc($breakpoint + 100) < 1275 {
      .container-styles {
        top: 9.5%;
        left: 23%;
        padding-right: #{$margin - 3em} !important;
      }
      .grid-styles {
        width: 68% !important;
      }
    } @else {
      .container-styles {
        top: 9.5%;
        left: 23%;
        padding-right: $margin !important;
      }
      .grid-styles {
        width: 68% !important;
      }
    }
  }
}