/** basic classes for ui elements */
p
{
  font-family: courier, monospace;
  font-size: 12px;
  font-weight: bold;
  margin-block-end: unset !important;
}

.container-styles
{
  top: 12.5% !important;
  left: 23%;
  position: absolute;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-start;
  overflow: visible;
  height: 53%;
}

.grid-styles
{
  width: 39% !important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.2em;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(153,153,153);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  &:hover {
    background: gray;
  }
}

.shell
{
  user-select: none;
  color: #0f0
}

.path
{
  user-select: none;
  color: royalblue;
}

.MuiInputBase-input
{
  padding: 1px 0 !important;
  user-select: none
}

.typography-styles
{
  float: left;
}

.input-styles
{
  font-family: courier, monospace !important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: white !important;
  min-width: 90%;
}

.padding-left
{
  padding-left: 0.5em !important;
}

.list-styles
{
  padding-left: 1em;
}

.list-styles2
{
  padding-left: 1.75rem;
}

.color-yellow
{
  color: yellow;
}

.color-pink
{
  color: #ff0096;
}

.color-white
{
  color: white;
}

.color-blue
{
  color: mediumblue;
}

.color-primary
{
  color: #f4ff00;
}

/** mixins & mixin logic */

@mixin mui-input-styles {
  border-bottom: none !important;
  transform: none !important;
  transition: none !important;
}

@mixin animation-styles {
  color: white;
  display: inline-flex;
  animation: type 1s steps(200, end);
  animation-fill-mode: backwards;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@mixin animation-delays($num) {
  @if $num != 0 {
    animation-delay: $num+1.5s;
  } @else {
    animation-delay: 0.5s;
  }
}

.MuiInput-underline
{
  float: left;
  &:before {
    @include mui-input-styles;
  }
  &:after {
    @include mui-input-styles;
  }
}

@for $i from 0 through 30 {
  .animate#{$i} {
    @include animation-styles;
    @include animation-delays($i);
  }
}

@keyframes type{
  from {
    color: rgb(153,153,153);
    width: 0;
  }
}

$start-width: 4000;
$end-width: 700;
$base-margin: 18em;

// media queries from 0 to 700, will keep decreasing until 0, kinda like limits in math :D
@media (min-width: 0px) and (max-width: 700px) {
  .container-styles {
    top: 12.5%;
    left: 23%;
  }
}

$j: 1;
$differenceOffset: 0.05em;
$widthOffset: .5%;
@for $i from 0 through (calc(700 / 1)) {
  $breakpoint: 700 - ($i * 1);
  $margin: 9em;

  @media (min-width: #{$breakpoint}px) and (max-width: #{$breakpoint + 1}px) {
    .container-styles {
      top: 12.5%;
      left: 23%;
      padding-right: #{if($margin - $differenceOffset > 3em, $margin - $differenceOffset, 3em)} !important;;
    }
    .grid-styles {
      width: #{if(65% - $widthOffset > 55%, 65% - $widthOffset, 55%)} !important;
    }
  }
  $j: $j + 0.5 !global;
  $differenceOffset: $differenceOffset + 0.03em !global;
  $widthOffset: $widthOffset + .05% !global;
}

$upper_cutoff: 1200;
$lower_cutoff: 700;
// media queries from 1200 to 800

// media queries from 1200 onwards
@for $i from 0 through (calc(($start-width - $end-width) / 50)) {
  $breakpoint: $start-width - ($i * 50);
  $margin: $base-margin + ($i * .01em);
  @media (min-width: #{$breakpoint}px) and (max-width: #{$breakpoint + 50}px) {
    @if calc($breakpoint + 50) >= $upper_cutoff {
      .container-styles {
        top: 10% !important;
        left: 23%;
        padding-right: $margin !important;
      }
      .grid-styles {
        width: 68% !important;
      }
    }
  }
}