/* Adapted from https://codepen.io/carlotm/pen/bKXBxp */
@import url('https://fonts.googleapis.com/css?family=Caveat|Permanent+Marker');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Gloria+Hallelujah&family=Indie+Flower&family=Reenie+Beanie&family=Shadows+Into+Light&display=swap');
$bg: #7fa99b;
$c: #fde668;
$c-d: darken($c, 12);
$c-dd: darken($c, 18);
$c-ddd: darken($c, 40);
$r: 3px;

@mixin text {
  font-family: 'Indie Flower', 'Patrick Hand', 'Caveat', cursive;
  font-weight: bolder;
  color: black;
}

@mixin post-it {
  font-family: 'Indie Flower', 'Patrick Hand', 'Caveat', cursive;
  background: $c;
  color: $c-ddd;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  border-radius: $r;
  z-index: 100;

  ul {
    list-style: none;
  }

}

.post-text-styles {
  @include text;
  font-size: 20px;
  padding-left: 0.5em;
}

.post-text-styles2 {
  @include text;
  font-size: 12px;
  padding-left: 1em;
  text-wrap: wrap;
  width: 100%;
}

.post-text-styles3 {
  @include text;
  font-size: 12px;
  padding-left: 1em;
  padding-top: 0.5em;
}

.post-it-styles {
  @include post-it;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 120px;
  width: fit-content;
  //position: absolute;
  //top: 7em;
  //right: -16rem;
  transform: rotate(-12deg);
  box-shadow: inset 15px 10px 20px -20px darken($bg, 20);
}

.post-it-styles-commands {
  @include post-it;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 150px;
  width: fit-content;
  //position: absolute;
  //top: 13em;
  //right: -16rem;
  transform: rotate(4deg);
  box-shadow: inset 15px 10px 20px -20px darken($bg, 20);
}