/**
 Adapted from this codepen: https://codepen.io/coreybruyere/pen/VMVaqM
 */

:root {
    --colorLightGray: #DCD8CD;
    --colorLightGrayShade: #b5b39a;
    --colorBlack: #000000;
    --baseBorderRadius: 2px;
    --gridGap: 2px;
    --keyCapHeight: 35px;
}

.keyboard_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -10.5em;
}

/** keyboard stacks */
.keyboard-stack {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.layer-1 { transform: translate(1px, 1px); background: #666; }
.layer-2 { transform: translate(2px, 2px); background: #666; }
.layer-3 { transform: translate(3px, 3px); background: #666; }
.layer-4 { transform: translate(4px, 4px); background: #666; }
.layer-5 { transform: translate(5px, 5px); background: #666; }
.layer-6 { transform: translate(6px, 6px); background: #666; }
.layer-7 { transform: translate(7px, 7px); background: #666; }
.layer-8 { transform: translate(8px, 8px); background: #666; }

/* 60 column grid. */
/* 1u key (standard keysize) = 4 columns */
.keyboard {
    position: relative;
    background-color: var(--colorLightGray);
    /*border-radius: var(--baseBorderRadius);*/
    display: grid;
    grid-template-columns: repeat(60, 8px);
    grid-gap: var(--gridGap);
    padding: 16px 7px 7px 7px;
    box-shadow: rgb(128 119 119) inset 0 -2px 10px 0;
}

/* See keycap sizing: https://deskthority.net/wiki/Keycap_size_by_keyboard */
/* Standard 1u key */
.keyboard__key {
    display: flex;
    grid-column: span 4;
    align-items: center;
    justify-content: center;
    position: relative;
    height: var(--keyCapHeight);
    background-color: var(--colorLightGray);
    background-image:
            linear-gradient(to bottom right, var(--colorLightGray), var(--colorLightGrayShade));
    border-radius: var(--baseBorderRadius);
}
/* Printed text on keycap */
.keyboard__key::before {
    content: attr(data-key-text);
    z-index: 1;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--colorBlack);
    opacity: 0.65;
    white-space: nowrap;
    font-size: 8px
}
/* Top of key */
.keyboard__key::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 4px;
    left: 5px;
    display: block;
    width: auto;
    height: calc(var(--keyCapHeight) - 8px);
    background-color: inherit;
    filter: contrast(105%);
    border-radius: calc(var(--baseBorderRadius) + 2px);
}

/* Keycap sizes */
/* 1.25u key */
.keyboard__key--1-25u {
    grid-column: span 5;
}

/* 1.5u key */
.keyboard__key--1-5u {
    grid-column: span 6;
}

/* 1.75u key */
.keyboard__key--1-75u {
    grid-column: span 7;
}

/* 2u key */
.keyboard__key--2u {
    grid-column: span 8;
}

/* 2.25u key */
.keyboard__key--2-25u {
    grid-column: span 9;
}

/* 2.5u key */
.keyboard__key--2-5u {
    grid-column: span 10;
}

/* 2.75u key */
.keyboard__key--2-75u {
    grid-column: span 11;
}

/* 6.25u space key */
.keyboard__key--6-25u {
    grid-column: span 25;
}