* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  background-size: cover;
  scroll-behavior: smooth;
  background-color: #d5f2fd;
  height: 1000px;
  width: 1600px
}

body {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
