* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
  background-color: #d5f2fd;
}

@media (max-width: 768px) {
  html,
  body {
    height: 100vh;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  #root {
    height: 100vh;
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
